<%= form_for [@business, @cashflow] do |f| %>
  <% if @cashflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cashflow.errors.count, "error") %> prohibited this cashflow from being saved:</h2>

      <ul>
      <% @cashflow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>